* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #93d9e9; 
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
}

.container {
    display: flex;
    gap: 30px;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
}

.pricing-box {
    background-color: white;
    border-radius: 15px; /* Bordes redondeados */
    width: 350px;
    min-height: 480px; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: salmon; 
    padding: 30px 20px;
    text-align: center;
}

.header h2 {
    color: rgb(13, 13, 13);
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content {
    padding: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.features {
    list-style: none;
    margin-bottom: 30px;
    flex-grow: 1;
}

.features li {
    padding: 15px 0;
    text-align: center;
    color: #333;
    font-size: 16px;
    border-bottom: 1px solid #eee;
}



.btn {
    background-color: #d2d1d1;
    color: rgb(10, 10, 10);
    border: none;
    border-radius: 8px;
    padding: 18px;
    width: 100%;
}


