* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column; 
  font-family: Arial;
}

header {
  background: #eee;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

footer {
  background: #eee;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;                   
  display: flex;            
  flex-direction: row;       
}

nav {
  flex: 1;                   
  background: #cfcfcf;
  padding: 1rem;
}

article {
  flex: 2;                  
  background: #a9a9a9;
  padding: 1rem;
}

aside {
  flex: 1;                  
  background: #d9d9d9;
  padding: 1rem;
}
