<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Layout</title>
</head>
<body>
    <header>
        <h1>Bienvenido al Header</h1>
    </header>

    <main>
        <nav> 
            <p>Navegación</p>
        </nav>
        <article> 
            <h2>Titulo del post</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </article>
        <aside > 
            <p>Columna</p>
        </aside>
    </main>

    <footer> 
        <p>Footer</p>
    </footer>
    
</body>
</html>